<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<!-- alias(별명) = type의 긴 클래스명에 대한 짧은 이름 -->
	<typeAliases>
		<typeAlias type="third.project.dog.bean.AnimalInfo" alias="AnimalInfo" />
	</typeAliases>

	<!-- 환경 구성 -->
	<!-- default는 기본 실행 환경의 아이디 --><!-- 스프링이 하고있다. -->
	<!-- <environments default="dev">
		<environment id="dev">
			1. 트랜잭션 관리구성
			<transactionManager type="JDBC" />
			2. 연결구성
			 <dataSource type="POOLED"> <property name="driver" value="oracle.jdbc.OracleDriver" 
				/> <property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:xe" /> <property 
				name="username" value="system" /> <property name="password" value="oracle" 
				/> </dataSource> 		

		</environment>
	</environments> -->
	
	
	<!-- 3. SQL 매퍼(매핑)파일 경로구성 -->
	<mappers>
		<mapper resource="sqlmap/Animals_infoMapper.xml" />
	</mappers>



</configuration>
