<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="AnimalInfo_ns">
	<!-- 동물 정보 -->
	<resultMap type="AnimalInfo" id="AnimalInfoResult">
		<result property="desertionNo" column="desertionNo" /><!-- 유기번호 -->
		<result property="filename" column="filename"/><!-- Thumbnail Image -->
		<result property="happenDt" column="happenDt" /><!-- 접수일 -->
		<result property="happenPlace" column="happenPlace"/><!-- 발견장소 -->
		<result property="kindCd" column="kindCd"/><!-- 품종 -->
		<result property="colorCd" column="colorCd"/><!-- 색상 -->
		<result property="age" column="age"/><!--나이 -->
		<result property="weight" column="weight"/><!-- 체중 -->
		<result property="noticeNo" column="noticeNo"/><!-- 공고번호 -->
		<result property="noticeSdt" column="noticeSdt"/><!-- 공고시작일 -->
		<result property="noticeEdt" column="noticeEdt"/><!-- 공고 종료일 -->
		<result property="popfile" column="popfile"/><!-- 원본 Image -->
		<result property="processState" column="processState"/><!-- 상태 -->
		<result property="sexCd" column="sexCd"/><!-- 성별 -->
		<result property="neuterYn" column="neuterYn"/><!--중성화여부 -->
		<result property="specialMark" column="specialMark"/><!-- 특징 -->
		<result property="careNm" column="careNm"/><!-- 보호소이름 -->
		<result property="careTel" column="careTel"/><!-- 보호소전화번호 -->
		<result property="careAddr" column="careAddr"/><!-- 보호장소 -->
		<result property="orgNm" column="orgNm"/><!-- 관할기관 -->
		<result property="chargeNm" column="chargeNm"/><!-- 담당자 -->
		<result property="officetel" column="officetel"/><!-- 담당자연락처 -->
		<result property="noticeComment" column="noticeComment"/><!-- 특이사항 -->
	</resultMap>
	
	<!-- 품종 정보(필터 위한) -->
	<resultMap type="KindInfo" id="KindInfoResult">
		
		<result property="kind_num" column="kind_num" />
		<result property="kind_name" column="kind_name" />
		
	</resultMap>
	
	<!-- 전체  조회 -->
	<select id="selectAllAnimalInfo" resultMap="AnimalInfoResult">
		select * from animals_info_tb
	</select>

	<!-- 품종 조회(필터 위한) -->
	<select id="selectAllKindInfo" resultMap="KindInfoResult">
		select * from kind_tb
	</select>
	
	<!-- 동물 한마디 정보 : desertionNo 로 찾음-->
	<select id="selectAnimalInfo" parameterType="string" resultType="AnimalInfo">
		select * from animals_info_tb
		where desertionNo=#{desertionNo}
	</select>
	
	<!-- 동물정보 DB insert -->
	<insert id="insertAnimalInfo" parameterType="AnimalInfo">
	<!-- <selectKey keyProperty="desertionNo"> #{desertionNo} </selectKey> -->
	insert into
	animals_info_tb	values(
	#{desertionNo, jdbcType=VARCHAR},
	#{filename, jdbcType=VARCHAR},
	#{happenDt, jdbcType=VARCHAR},
	#{happenPlace, jdbcType=VARCHAR},
	#{kindCd, jdbcType=VARCHAR},
	#{colorCd, jdbcType=VARCHAR},
	#{age, jdbcType=VARCHAR},
	#{weight, jdbcType=VARCHAR},
	#{noticeNo, jdbcType=VARCHAR},
	#{noticeSdt, jdbcType=VARCHAR},
	#{noticeEdt, jdbcType=VARCHAR},
	#{popfile, jdbcType=VARCHAR},
	#{processState, jdbcType=VARCHAR},
	#{sexCd, jdbcType=VARCHAR},
	#{neuterYn, jdbcType=VARCHAR},
	#{specialMark, jdbcType=VARCHAR},
	#{careNm, jdbcType=VARCHAR},
	#{careTel, jdbcType=VARCHAR},
	#{careAddr, jdbcType=VARCHAR},
	#{orgNm, jdbcType=VARCHAR},
	#{chargeNm, jdbcType=VARCHAR},
	#{officetel, jdbcType=VARCHAR}
		<if test="noticeComment !=null">
			,#{noticeComment}
		</if>
		<if test="noticeComment ==null">
			,''
		</if>
		<if test="kindNum !=null">
			,#{kindNum}
		</if>
		<if test="kindNum == null">
			,''
		</if>
	)
	</insert>
	 

	

	
</mapper>