<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<!-- 매핑파일 역할 : 매핑의 목적 -> DB의 데이터인 SQL문(DB의 테이블)을 자바의 객체로 전환하는 것이 목적 sql-오브젝트 
	사이의 매핑정보는 xml파일로 만들어두면 된다. 메핑 정보에는 사용할 sql문과 sql 파라미터, 실행결과를 어떻게 자바오브젝트로 
	변환하는 지가 담겨있다. -->
<mapper namespace="AnimalInfo_ns">
	
	<resultMap type="AnimalInfo" id="AnimalInfoResult">
		<!-- 필드 속성과 컬럼명이 일치하는 경우 컬럼명 생략 가능. -->
		<result property="desertionNo" column="desertionNo" /><!-- 유기번호 -->
		<result property="filename" column="filename"/><!-- Thumbnail Image -->
		<result property="happenDt" column="happenDt" /><!-- 접수일 -->
		<result property="happenPlace" column="happenPlace"/><!-- 발견장소 -->
		<result property="kindCd" column="kindCd"/><!-- 품종 -->
		<result property="colorCd" column="colorCd"/><!-- 색상 -->
		<result property="age" column="age"/><!--나이 -->
		<result property="weight" column="weight"/><!-- 체중 -->
		<result property="noticeNo" column="noticeNo"/><!-- 공고번호 -->
		<result property="noticeSdt" column="noticeSdt"/><!-- 공고시작일 -->
		<result property="noticeEdt" column="noticeEdt"/><!-- 공고 종료일 -->
		<result property="popfile" column="popfile"/><!-- 원본 Image -->
		<result property="processState" column="processState"/><!-- 상태 -->
		<result property="sexCd" column="sexCd"/><!-- 성별 -->
		<result property="neuterYn" column="neuterYn"/><!--중성화여부 -->
		<result property="specialMark" column="specialMark"/><!-- 특징 -->
		<result property="careNm" column="careNm"/><!-- 보호소이름 -->
		<result property="careTel" column="careTel"/><!-- 보호소전화번호 -->
		<result property="careAddr" column="careAddr"/><!-- 보호장소 -->
		<result property="orgNm" column="orgNm"/><!-- 관할기관 -->
		<result property="chargeNm" column="chargeNm"/><!-- 담당자 -->
		<result property="officetel" column="officetel"/><!-- 담당자연락처 -->
		<result property="noticeComment" column="noticeComment"/><!-- 특이사항 -->
	</resultMap>
	
	<!-- 품종 정보(필터 위한) -->
	<resultMap type="KindInfo" id="KindInfoResult">
		
		<result property="kind_num" column="kind_num" />
		<result property="kind_name" column="kind_name" />
		
	</resultMap>
	
	<!-- 품종 조회(필터 위한) -->
	<select id="selectAllKindInfo" resultMap="KindInfoResult">
		select * from kind_tb
	</select>
	
	<!-- 전체  조회 -->
	<select id="selectAllAnimalInfo" resultMap="AnimalInfoResult">
		select * from animals_info_tb
	</select>
	
	<!-- 동물정보 DB insert -->
	<insert id="insertAnimalInfo" parameterType="AnimalInfo">
	<!-- <selectKey keyProperty="desertionNo"> #{desertionNo} </selectKey> -->
	insert into
	animals_info_tb	values(
	#{desertionNo},#{filename},#{happenDt},#{happenPlace},#{kindCd},#{colorCd}
	,#{age},#{weight},#{noticeNo},#{noticeSdt},#{noticeEdt},#{popfile},#{processState}
	,#{sexCd},#{neuterYn},#{specialMark},#{careNm},#{careTel},#{careAddr},#{orgNm}
	,#{chargeNm},#{officetel}
	<if test="noticeComment !=null">
			,#{noticeComment}
		</if>
		<if test="noticeComment ==null">
			,''
		</if>
	)
	</insert>
	
	<select id="selectAnimalInfo" parameterType="string" resultType="AnimalInfo">
		select * from animals_info_tb
		where desertionNo=#{desertionNo}
	</select>
	
</mapper>